<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/main.css')}}">
    <title>osu! Wrapped 2023</title>
</head>
<body>
    <nav>
        <!-- add navigation bar -->
    </nav>
    <div class="form-container">
        <form method="POST"> 
            {{ form.hidden_tag() }}
            <div class="form-input">
                {{ form.user(placeholder="Username/ID", class_="form-user") }}
                {{ form.mode(class_="form-mode") }}
            </div>
            <div class="form-submit">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</body>
</html>